%svg{"data-icon" => "close", :focusable => "false", :height => "20", :viewbox => "0 0 20 20", :width => "20", :xmlns => "http://www.w3.org/2000/svg"}
  %title Cross
  %g{:stroke => "#fff"}
    %g
      %line{"stroke-width" => "2", :x1 => "0", :x2 => "18", :y1 => "0", :y2 => "18"}
    %g
      %line{"stroke-width" => "2", :x1 => "0", :x2 => "18", :y1 => "18", :y2 => "0"}
