// Variables inherited from 'settings/_colours.scss'

a {
  color: $blue-light;
  text-decoration: underline;
  &:hover, &:active, &:focus {
    color: $blue-dark;
    text-decoration: none;
  }
  &:visited {
    color: $purple;
  }
}
