a {
    color: $blue-light;
    text-decoration: underline;
    &:hover, :active {
        color: $blue-dark;
        text-decoration: none;
    }
    &:focus {
        background-color: $yellow;
    }
    &:visited {
        color: $purple;
    }
}
