ul, ol {
    margin-left: $base-spacing-unit-small;
}

li {
    padding: $base-spacing-unit-tiny 0;
}

dl {
    width: 100%;
    padding: $base-spacing-unit-tiny 0;
}

dt, dd {
    padding: $base-spacing-unit-tiny 0;
    margin-left: 0;
}
