%li
  .card
    .card__details
      - if committees.respond_to?(:name)
        %h2= committees.name
      - else
        %h2= committees.formal_body.name
      %p= "" ? committees.date_range : committees.formal_body.date_range
