.pds-cont {
    &-wrap {
        width: 100%;
        max-width: $max-width;
        min-width: $min-width;
        margin: 0 auto;
    }
    &-row {
        margin: $base-spacing-unit-small 0;
        padding: $base-spacing-unit-small;
        border: solid 1px $grey40;
    }
    &-row:after, &-wrap:after {
        clear: both;
        display: block;
        content: "";
    }
}
