// Full Screen Container
.c-fs {
    @include outer-container(100%);
}

// Full Grid Width Container

.c-fg {
    @include outer-container;
}

// Container Members Prototype (IN WORKS)
.c-fg2 {
  @include media($mobile) {
    max-width: 96%;
    margin: 0 auto;
  }
  @include media($tablet) {
    max-width: 96%;
    margin: 0 auto;
  }
  @include media($desktop) {
    max-width: 960px;
    margin: 0 auto;
  }
  @include media($widescreen) {
    @include outer-container;
  }
}

// Standard Row

.r {
    @include row();
}

// 8 Column Grid

.l-8 {
  @include span-columns (8);
}

// 6 Column Grid

.l-6 {
  @include span-columns (6);
}

// 4 Column Grid

.l-4 {
  @include span-columns (4);
}

// 2 Column Grid

.l-2 {
  @include span-columns (2);
}
