.pds-members-contact {
    &-sub {
        margin: $base-spacing-unit 0;
        &:after {
            clear: both;
            display: block;
            content: '';
        }
        dt {
            float: left;
            clear: left;
            width: 130px;
            text-align: left;
            font-weight: bold;
            &.hdn-dt {
                width: 0;
            }
        }
        dd {
            margin: 0 0 0 140px;
            text-align: left;
            &.sgl-dd {
                margin: 0;
            }
        }
    }
    &-mphelp {
        background-color: $grey20;
        padding: $base-spacing-unit-tiny $base-spacing-unit-small;
        margin: $base-spacing-unit-tiny 0;
    }
}
