%footer
  .container
    %h2.logo= I18n.t('pugin.components.footer.uk_parliament')
    %ul.list
      %li= link_to( I18n.t('pugin.components.footer.current_website'), 'http://www.parliament.uk' )
      %li= link_to( I18n.t('pugin.components.footer.cookie_policy'), meta_cookie_policy_path() )
      %li= link_to( I18n.t('pugin.components.footer.privacy_notice'), 'https://www.parliament.uk/site-information/data-protection/data-protection-and-privacy-policy/')
