%footer
  .container--full-screen.footer
    .container--full-grid
      .row--indent-horizontal
        .footer__logo
          %p= t('.parliament_uk')
        %ul.footer__list
          %li
            %a{:href => "https://www.parliament.uk/"}= t('.current_website')
          %li
            %a{:href => "/meta/cookie-policy"}= t('.cookie_policy')
