%footer
  .container
    %h2.logo= I18n.t('pugin.components.footer.uk_parliament')
    %ul.list
      %li
        %a{:href => 'https://www.parliament.uk/'}= I18n.t('pugin.components.footer.current_website')
      %li
        %a{:href => 'http://beta.parliament.uk/meta/cookie-policy'}= I18n.t('pugin.components.footer.cookie_policy')
