%footer
  .container--full-screen.footer
    .container--full-grid
      .row--indent-horizontal
        .footer__logo
          %p= t('parliament_uk')
        %ul.footer__list
          %li
            %a{:href => "https://pds.blog.parliament.uk/", :target => "_blank", title: t('open_new_window')}= t('pds_blog')
          %li
            %a{:href => "https://www.parliament.uk/", :target => "_blank", title: t('open_new_window')}= t('current_website')
          %li
            %a{:href => "/meta/cookie-policy"}= t('cookie_policy')
