%footer
  .container--full-screen.footer
    .container--full-grid
      .row--indent-horizontal
        .footer__logo
          %img{:alt => "parliament.uk", :src => "#{Rails.application.secrets.asset_location_url}/#{Rails.application.secrets.asset_version}/images/parliament-uk--darkgrey.png", :srcset => "#{Rails.application.secrets.asset_location_url}/#{Rails.application.secrets.asset_version}/images/parliament-uk--darkgrey.svg"}/
        %ul.footer__list
          %li
            Parliament.uk
            %a{:href => "https://pds.blog.parliament.uk/", :target => "_blank"} digital blog
          %li
            Visit the
            %a{:href => "https://www.parliament.uk/", :target => "_blank"} current parliament.uk
            website
          %li
            %a{:href => "/meta/cookie-policy"} Cookie Policy
