%footer
  .container--full-grid
    %h2.logo= t('.uk_parliament')
    %ul.list
      %li
        %a{:href => "https://www.parliament.uk/"}= t('.current_website')
      %li
        %a{:href => "http://beta.parliament.uk/meta/cookie-policy"}= t('.cookie_policy')
