%footer
  .container
    %h2.logo= I18n.t('pugin.components.footer.uk_parliament')
    %ul.list
      %li= link_to( I18n.t('pugin.components.footer.current_website'), root_path() )
      %li= link_to( I18n.t('pugin.components.footer.cookie_policy'), meta_cookie_policy_path() )