%footer
  .container--full-screen.footer
    .container--full-grid
      .row--indent-horizontal
        .footer__logo
          %p Parliament.uk
        %ul.footer__list
          %li
            %a{:href => "https://pds.blog.parliament.uk/", :target => "_blank"} Parliamentary Digital Service blog
          %li
            %a{:href => "https://www.parliament.uk/", :target => "_blank"} Current Parliament.uk website
          %li
            %a{:href => "/meta/cookie-policy"} Cookie Policy
