%header
  .c-fs.header
    .c-fg
      .row--indent-horizontal
        .header__logo
          %a{:href => "/"}
            %img{:alt => "parliament.uk", :src => "#{Rails.application.secrets.asset_location_url}/images/parliament-uk--white.png", :srcset => "#{Rails.application.secrets.asset_location_url}/images/parliament-uk--white.svg"}/
