%header
  .c-fs.header
    .c-fg
      .row
        .header__logo
          %a{:href => "/"}
            %img{:alt => "parliament.uk", :src => "../images/parliament-uk--white-50.png", :srcset => "../images/parliament-uk--white-50.svg"}/
