%header
  .container--full-screen.header
    .container--full-grid
      .row--indent-horizontal
        .header__logo
          %a{:href => "/"}
            %img{:alt => "parliament.uk", :src => "#{Rails.application.secrets.asset_location_url}/#{Rails.application.secrets.asset_version}/images/parliament-uk--white.png", :srcset => "#{Rails.application.secrets.asset_location_url}/#{Rails.application.secrets.asset_version}/images/parliament-uk--white.svg"}/
