%header
  .container
    %a.uk_parliament{ href: '/' }
      = render partial: 'pugin/icons/uk-parliament'
    = render partial: 'pugin/components/global-search' if Pugin::Feature::GlobalSearch.enabled?
