%header
  .container
    %a{:href => "/" }
      %img{:src => "https://s3-eu-west-1.amazonaws.com/web1live.pugin-website/1.4.6/images/uk_parliament_logo.png", :alt => "#{I18n.t('pugin.components.header.parliament_header')}", :class => "logo", :srcset => "https://s3-eu-west-1.amazonaws.com/web1live.pugin-website/1.4.6/images/uk_parliament_logo.svg"}