%header
  .c-fs.header
    .c-fg
      .row
        .header__logo
          %a{:href => "/"}
            %img{:alt => "parliament.uk", :src => "http://ukpds.pugin-website.s3-website-eu-west-1.amazonaws.com/images/parliament-uk--white-50.png", :srcset => "http://ukpds.pugin-website.s3-website-eu-west-1.amazonaws.com/images/parliament-uk--white-50.svg"}/
