%nav.navigation--main{aria:{ label: I18n.t('pugin.components.navigation-main.aria_label') } }
  .container
    %ul
      %li
        %a{ href: '/houses/KL2k1BGP/members/current/a-z/a'}= I18n.t('pugin.components.navigation-main.item_1')
      %li
        %a{ href: '/houses/m1EgVTLj/members/current/a-z/a'}= I18n.t('pugin.components.navigation-main.item_2')
      %li
        %a{ href: '/houses/KL2k1BGP/parties/current'}= I18n.t('pugin.components.navigation-main.item_3')
      %li
        %a{ href: '/constituencies/current/a-z/a'}= I18n.t('pugin.components.navigation-main.item_4')