%div{class: "c-fs status#{ status.nil? ? '' : "__#{status}"  }"}
  .c-fg
    .row
      %p This is a #{link_to '<strong>BETA</strong>'.html_safe, '/' }. Give #{link_to 'feedback', '#'} to improve it.
