%div{class: "c-fs status#{ status.nil? ? '' : "__#{status}"  }"}
  .c-fg
    .row
      %p This is a #{link_to '<strong>BETA</strong>'.html_safe, 'beta-services.html' }. Give #{link_to 'feedback', 'feedback.html'} to improve it.
