<!DOCTYPE html>
<html>
<head>
  <title>Pugin</title>
  <%= stylesheet_link_tag    "pugin/application", media: "all" %>
  <%= javascript_include_tag "pugin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
