require 'spec_helper'
require 'haml'

describe 'pugin/people/list/_list.html.haml', type: :view do 

  context 'with a MP data set' do

    let(:mp_data_set) { Class.new }
    let(:mp_seat_incumbency) { Class.new }
    let(:mp_constituency) { Class.new }
    let(:mp_party) { Class.new }
    let(:mp_party_memberships) { Class.new }

    before :each do  
      allow(mp_constituency).to receive(:name).and_return('constituency1')

      allow(mp_seat_incumbency).to receive(:current?).and_return(true)
      allow(mp_seat_incumbency).to receive(:constituency).and_return(mp_constituency)

      allow(mp_party).to receive(:name).and_return('Labour')

      allow(mp_party_memberships).to receive(:current?).and_return(true)
      allow(mp_party_memberships).to receive(:party).and_return(mp_party)

      allow(mp_data_set).to receive(:house_incumbencies).and_return([])
      allow(mp_data_set).to receive(:seat_incumbencies).and_return([mp_seat_incumbency])
      allow(mp_data_set).to receive(:constituencies).and_return([mp_constituency])
      allow(mp_data_set).to receive(:parties).and_return([1,2,3])
      allow(mp_data_set).to receive(:party_memberships).and_return([mp_party_memberships])

      allow(mp_data_set).to receive(:graph_id).and_return('123')
      allow(mp_data_set).to receive(:display_name).and_return('mp1')

      @people = [mp_data_set]
    end

    it "renders the member partial" do 
      render partial: "pugin/people/list/list", collection: @people, as: "people".to_sym
      expect(response).to include("<a href='/people/123'>mp1</a>") 
      expect(response).to include("<p>Current MP for constituency1</p>") 
      expect(response).to include("<p>Labour</p>") 
    end
  end

  context 'with a Lord data set' do

    let(:lord_data_set) { Class.new }
    let(:lord_house_incumbency) { Class.new }
    let(:lord_party) { Class.new }
    let(:lord_party_memberships) { Class.new }
    let(:lord_statuses) { Class.new }

    before :each do  

      allow(lord_house_incumbency).to receive(:current?).and_return(true)
      allow(lord_house_incumbency).to receive(:start_date).and_return('123')

      allow(lord_party).to receive(:name).and_return('Labour')

      allow(lord_party_memberships).to receive(:current?).and_return(true)
      allow(lord_party_memberships).to receive(:party).and_return(lord_party)

      allow(lord_data_set).to receive(:parties).and_return([1,2,3])
      allow(lord_data_set).to receive(:house_incumbencies).and_return([lord_house_incumbency])
      allow(lord_data_set).to receive(:statuses).and_return({house_membership_status: ['Member of the House of Lords']}) 
      allow(lord_data_set).to receive(:party_memberships).and_return([lord_party_memberships])

      allow(lord_data_set).to receive(:graph_id).and_return('123')
      allow(lord_data_set).to receive(:display_name).and_return('lord1')

      @people = [lord_data_set]
    end

    it "renders the lord partial" do 
      render partial: "pugin/people/list/list", collection: @people, as: "people".to_sym
      expect(response).to include("<a href='/people/123'>lord1</a>") 
      expect(response).to include("<p>Member of the House of Lords</p>") 
      expect(response).to include("<p>Labour</p>") 
    end
  end
end
