//Clear Fix can be applied to any class by adding `@include clearfix`

@mixin screenreader {
  border: none;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visually-hidden {
  visibility: hidden;
}
