// PDS Base Colours
$black: #000;
$white: #FFF;
$blue-light: #4272A0;
$blue-dark: #205282;
$purple: #6e6095;
$yellow: #FCD116;

// PDS Grey Palette
$grey100: #333333;
$grey80: #5C5C5C;
$grey75: #666666;
$grey60: #858585;
$grey50: #999999;
$grey40: #ADADAD;
$grey30: #C1C1C1;
$grey20: #D6D6D6;
$grey15: #E1E1E1;
$grey10: #EAEAEA;
$grey05: #F5F5F5;

// PDS Status Colours
$info-border: #BCE8F1;
$info-back: #D9EDF7;
$info-text: #31708F;
$succ-border: #D6E9C6;
$succ-back: #DFF0D8;
$succ-text: #3C763D;
$warn-border: #FAEBCC;
$warn-back: #FCF8E3;
$warn-text: #8A6D3B;
$eror-border: #EBCCD1;
$eror-back: #F2DEDE;
$eror-text: #A94442;

// Current Parliament Colours
$parl-blue: #085196; // parliament.uk header blue
$parl-green: #008852; // parliament.uk HoC green
$parl-red: #971B2F; // parliament.uk HoL red
