// $black: #000;
// $white: #FFF;

// $hoc-green: #008852; // "tropical rain forest"
// $hol-red: #971b2f; // "old brick"

/* PDS Base Colours */
$black: #000;
$white: #fff;
$blue: #00f;
$purple: #6e6095;
$yellow: #fcd116;

/* PDS Grey Palette */
$grey100: #333333;
$grey80: #5c5c5c;
$grey75: #666666;
$grey60: #858585;
$grey40: #adadad;
$grey30: #c1c1c1;
$grey20: #d6d6d6;
$grey15: #e1e1e1;
$grey10: #eaeaea;
$grey05: #f5f5f5;

/* Current Parliament Colours */
$parl-blue: #085196; /* parliament.uk header blue */
$parl-green: #016131; /* parliament.uk HoC green */
$parl-red: #b2200d; /* parliament.uk HoL red */
