// PDS Base Colours
$black: #000;
$white: #FFF;
$blue-light: #4272A0;
$blue-dark: #205282;
$purple: #6e6095;
$yellow: #FCD116;

// PDS Grey Palette
$grey100: #333333;
$grey80: #5C5C5C;
$grey75: #666666;
$grey60: #858585;
$grey50: #858585;
$grey40: #ADADAD;
$grey30: #C1C1C1;
$grey20: #D6D6D6;
$grey15: #E1E1E1;
$grey10: #EAEAEA;
$grey05: #F5F5F5;

// Current Parliament Colours
$parl-blue: #085196; // parliament.uk header blue
$parl-green: #016131; // parliament.uk HoC green
$parl-red: #B2200D; // parliament.uk HoL red

// $hoc-green: #008852; // "tropical rain forest"
// $hol-red: #971B2F; // "old brick"
