.alert {
  border: solid 1px transparent;
  padding: $base-spacing-unit-tiny $base-spacing-unit-small;
  & > i {
    margin-right: $base-spacing-unit-tiny;
  }
  & .close {
    position: relative;
    float: right;
    top: -($base-spacing-unit-tiny - 2);
    padding: 0 0 0 $base-spacing-unit-small;
    background: none;
    border: none;
    cursor: pointer;
  }
  // Alert Status Option Styling
  &.standard {
    background-color: $grey05;
    border-color: $grey20;
    color: $grey100;
    & .close {
      color: $grey100;
    }
  }
  &.information {
    background-color: $info-back;
    border-color: $info-border;
    color: $info-text;
    & .close {
      color: $info-text;
    }
  }
  &.success {
    background-color: $success-back;
    border-color: $success-border;
    color: $success-text;
    & .close {
      color: $success-text;
    }
  }
  &.warning {
    background-color: $warning-back;
    border-color: $warning-border;
    color: $warning-text;
    & .close {
      color: $warning-text;
    }
  }
  &.error {
    background-color: $error-back;
    border-color: $error-border;
    color: $error-text;
    & .close {
      color: $error-text;
    }
  }
}
// Mobile Alert Component Styling
@include media($mobile) {
  .alerts {
    @include fontsize(12);
    & .close {
      @include fontsize(16);
    }
  }
}
// Tablet Alert Component Styling
@include media($tablet) {
  .alerts {
    @include fontsize(14);
    & .close {
      @include fontsize(16);
    }
  }
}
// Desktop Alert Component Styling
@include media($desktop) {
  .alerts {
    @include fontsize(16);
    & .close {
      @include fontsize(18);
    }
  }
}
