.alert {
  border: solid 1px transparent;
  padding: $base-spacing-unit-tiny;
  & > p > i {
    margin-left: $base-spacing-unit-tiny;
    margin-right: $base-spacing-unit-small;
  }
  & .close {
    float: right;
    border: none;
    padding: 0;
    margin-right: $base-spacing-unit-tiny;
    background: none;
    cursor: pointer;
  }
  &.standard {
    background-color: $grey05;
    border-color: $grey20;
    color: $grey100;
    & .close {
      color: $grey100;
    }
  }
  &.information {
    background-color: $info-back;
    border-color: $info-border;
    color: $info-text;
    & .close {
      color: $info-text;
    }
  }
  &.success {
    background-color: $succ-back;
    border-color: $succ-border;
    color: $succ-text;
    & .close {
      color: $succ-text;
    }
  }
  &.warning {
    background-color: $warn-back;
    border-color: $warn-border;
    color: $warn-text;
    & .close {
      color: $warn-text;
    }
  }
  &.error {
    background-color: $eror-back;
    border-color: $eror-border;
    color: $eror-text;
    & .close {
      color: $eror-text;
    }
  }
}
