.atoz-letters {
  @include outer-container;
  list-style-type: none;

  li {
    @include span-columns (.86);

    background: $black;
    border: solid 1px $black;
    margin-bottom: $base-spacing-unit-tiny;
    text-align: center;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  li.active,
  li:hover {
    background: $white;
    cursor: pointer;

    a {
      color: $black;
      text-decoration: none;
    }
  }
}
