.badge {
  display: inline-block;
  padding: $base-spacing-unit-tiny;
  background: $black;
  color: $white;
  font-size: 0.75rem;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  &.small {
    font-size: 0.625rem;
  }
  &.large {
    font-size: 0.875rem;
  }
  @include border-radius($base-spacing-unit-tiny);
}
