.breadcrumb {
  @include row();
  & > ol {
    list-style-type: none;
    margin-top: $base-spacing-unit-tiny;
    padding: 0;
    color: $grey75;
    & > li {
      display: inline;
      & > a {
        color: $grey75;
        text-decoration: underline;
        &:hover,
        &:active {
          color: $black;
        }
      }
    }
    & > li:after {
      content: '/';
      padding-left: $base-spacing-unit-tiny;
      padding-right: $base-spacing-unit-tiny;
    }
    & > li:last-child:after{
      content: '';
    }
  }
}
