// Generic Card

.u-card {
    padding: $base-spacing-unit-small 0;
}

// Profile Card Only

.prf-name {
    text-transform: capitalize;
}

.prf-info {
    padding: 0 0 $base-spacing-unit-small 0;
}

.prf-pic {
    & img {
        height: auto;
        width: auto;
    }
}
