.member-card {
  @include row();
}

.card {
  & > img {
    vertical-align: bottom;
  }
  .info {
    display: inline-block;
    padding-left: $base-spacing-unit-small;
    padding-right: $base-spacing-unit-small;
    vertical-align: top;
    ul {
      margin: 0;
      padding: 0;
      list-style-image: none;
      & > li {
        display: block;
        padding-top: 6px;
        padding-bottom: 6px;
      }
    }
  }
}

ul.people-list {
  margin: 0;
  padding: 0;
  list-style-image: none;
  li.card {
    border-bottom: 1px solid #D6D6D6;
    &:last-child {
      border-bottom: none;
    }
    &.member > img {
      border-left: $base-spacing-unit-tiny solid $parl-green;
    }
    &.lord > img {
      border-left: $base-spacing-unit-tiny solid $parl-red;
    }
    .info {
      display: inline-block;
      ul {
        & > li:not(:first-child) {
          display: inline;
        }
        & > li:nth-child(2) {
          &:after {
            content: "|";
            padding-left: $base-spacing-unit-tiny;
            padding-right: $base-spacing-unit-tiny;
          }
        }
      }
    }
  }
}

@include media($mobile) {
  .card {
    padding-top: $base-spacing-unit-tiny;
    padding-bottom: $base-spacing-unit-tiny;
    & img {
      width: 100px;
      height: 100px;
    }
    .info {
      width: 60%;
      padding-right: 0;
      ul {
        & > li {
          padding-bottom: $base-spacing-unit-small;
        }
      }
    }
  }
  ul.people-list {
    .card {
      padding-top: $base-spacing-unit-tiny;
      padding-bottom: $base-spacing-unit-tiny;
      & > img {
        width: 75px;
        height: 75px;
      }
      &.member > img {
        padding-left: $base-spacing-unit-tiny;
      }
      &.lord > img {
        padding-left: $base-spacing-unit-tiny;
      }
      .info {
        display: inline-block;
      }
    }
  }
}

@include media($tablet) {
  .card {
    padding-top: $base-spacing-unit-tiny;
    padding-bottom: $base-spacing-unit-tiny;
    & img {
      width: 140px;
      height: 140px;
    }
  }
  ul.people-list {
    .card {
      padding-top: $base-spacing-unit-tiny;
      padding-bottom: $base-spacing-unit-tiny;
      & > img {
        width: 120px;
        height: 120px;
      }
      &.member > img {
        padding-left: $base-spacing-unit-tiny;
      }
      &.lord > img {
        padding-left: $base-spacing-unit-tiny;
      }
      .info {
        display: inline-block;
      }
    }
  }
}

@include media($desktop) {
  .card {
    padding-top: $base-spacing-unit-small;
    padding-bottom: $base-spacing-unit-small;
    .info {
      width: 160px;
      height: 160px;
    }
  }
  ul.people-list {
    .card {
      &.member > img {
        padding-left: $base-spacing-unit-small;
      }
      &.lord > img {
        padding-left: $base-spacing-unit-small;
      }
    }
  }
}
