.card {
  & > img {
    vertical-align: bottom;
  }
  .info {
    display: inline-block;
    padding: 0 10px;
    vertical-align: top;
    h2 {
      padding: 0;
    }
    ul {
      margin: 0;
      list-style: none;
      line-height: 1.7;
      & > li {
        display: block;
      }
    }
  }
}

ul.people-list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    padding: 0;
  }
  .card {
    border-bottom: 1px solid #D6D6D6;
    & > :last-child {
      border-bottom: none;
    }
    li {
      padding: inherit;
    }
    &.member > img {
      border-left: $base-spacing-unit-tiny solid $parl-green;
    }
    &.lord > img {
      border-left: $base-spacing-unit-tiny solid $parl-red;
    }
    & > :last-child {
      border-bottom: none;
    }
    .info {
      ul {
        & > li:not(:first-child) {
          display: inline;
        }
        & > li:nth-child(2) {
          &:after {
            content: "|";
            padding: 0 $base-spacing-unit-tiny;
          }
          a {
            float: left;
          }
        }
      }
    }

  }
}

@include media($mobile) {
  .card {
    padding: $base-spacing-unit-tiny 0;
    & > img {
      height: auto;
      width: 25%;
    }
    .info {
      width: 75%;
    }
  }
  ul.people-list {
    .card {
      & > img {
        height: auto;
        width: 25%;
      }
      &.member > img {
        padding-left: $base-spacing-unit-tiny;
      }
      &.lord > img {
        padding-left: $base-spacing-unit-tiny;
      }
      .info {
        width: 75%;
      }
    }
  }
}

@include media($tablet) {
  .card {
    & > img {
      max-height: 120px;
      width: auto;
    }
  }
  ul.people-list {
    .card {
      padding: $base-spacing-unit-tiny 0;
      &.member > img {
        padding-left: $base-spacing-unit-tiny;
      }
      &.lord > img {
        padding-left: $base-spacing-unit-tiny;
      }
    }
  }
}

@include media($desktop) {
  // Generic Card
  .card {
    padding: $base-spacing-unit-small 0;
    .info {
      height: auto;
      width: auto;
    }
  }
  ul.people-list {
    .card {
      &.member > img {
        padding-left: $base-spacing-unit-small;
      }
      &.lord > img {
        padding-left: $base-spacing-unit-small;
      }
    }
  }
}

@include media($widescreen) {

}
