.contact-details {
  margin-bottom: $base-spacing-unit-small;
  & > dl {
    padding: 0;
    & > dt,
    & > dd,
    & > dd > p {
      display: inline-block;
    }
    & > dt {
      font-weight: bold;
      text-transform: capitalize;
      &:after {
        content: ' :';
        padding-right: $base-spacing-unit-tiny;
      }
    }
  }
  & > h2 {
    padding-bottom: $base-spacing-unit-tiny;
  }
  & > h3 {
    padding-top: $base-spacing-unit-tiny;
    padding-bottom: $base-spacing-unit-tiny;
  }
  & > dl {
    padding-bottom: $base-spacing-unit-tiny;
  }
}
