.cnt-default {
  background-color: $grey05;
  margin: $base-spacing-unit-small 0 0 0;
  padding: $base-spacing-unit-small;
  & > a {
    font-weight: bold;
  }
}

.cnt-details {
  padding: $base-spacing-unit-tiny 0;
  & > dl {
    display: inline-block;
  }
}
