.pds-footer {
    &-wrap {
        width: 100%;
        min-width: $min-width;
        background-color: $white;
        border-top: 4px solid $grey20;
        &:after {
          clear: both;
          display: block;
          content: '';  
        }
    }
    &-row {
        padding: $base-spacing-unit-small;
    }
    &-copy {
        float: left;
        width: 60%;
        padding-top: $base-spacing-unit-small;
    }
    &-logo {
        float: right;
        width: 39%;
        text-align: right;
        img {
            max-width: 50px;
            opacity: 0.7;
        }
    }
}

@media print {
    .pds-footer {
        display: none;
    }
}
