.ftr {
  @include row();
  border-top: solid 4px $grey20;
  padding-top: $base-spacing-unit-small;
  padding-bottom: $base-spacing-unit-small;
  &-cpy {
    @include span-columns(7.9);
    @include shift(0.1);
  }
  &-lgo {
    @include span-columns(3.95);
    @include shift(-0.05)
    &-icn {
      float: right;
      display: block;
      background-image: url('../_img/pugin/portcullis--black.svg.png');
      background-image: url('../_img/pugin/portcullis--black.svg');
      background-repeat: no-repeat;
      width: 50px;
      height: 58px;
    }
  }
}

@media print {
  .ftr {
    display: none;
  }
}
