.global-msg {
  padding-top: $base-spacing-unit-small;
  padding-bottom: $base-spacing-unit-small;
  padding-left: $base-spacing-unit-small;
  @include media($desktop, $widescreen) {
    text-align: center;
  }
  .fa {
    margin-right: $base-spacing-unit-small;
  }
}

@media print {
  .global-msg  {
    display: none;
  }
}
