.hdr {
    background-color: $black;
    padding: $base-spacing-unit-small 0;
    &-lgo {
        display: block;
        background: url('../_img/pugin/parliament-uk--white.png') no-repeat;
        background: url('../_img/pugin/parliament-uk--white.svg') no-repeat;
        width: 300px;
        height: 56px;
    }
}

@media print {
    .hdr {
        display: none;
    }
}
