.info-blk {
    & > dl {
        & > dt, & > dd {
            display: inline;
        }
        & > dt {
          font-weight: bold;
          text-transform: capitalize;
          &:after {
              content: ':';
              padding: 0 $base-spacing-unit-tiny;
          }
        }
        & > dd > p {
            display: inline;
        }
    }
}
