.pagination{
  @include outer-container;
  list-style-type: none;
  margin-top: $base-spacing-unit-tiny;
  margin-bottom: $base-spacing-unit-tiny;

  li {
    @include span-columns (1);

    background: $white;
    border: solid 1px $black;
    display: list-item;
    padding: 0;
    text-align: center;

    a {
      color: $black;
      display: block;
      padding: $base-spacing-unit-small;
      text-decoration: none;
    }

    // Mobile View
    @include media($mobile) {
      display: none;
    }
  }

  li.prev,
  li.next {
    @include span-columns (2);

    // Mobile View
    @include media($mobile) {
      @include span-columns (2);
    }
  }

  li.active,
  li:hover {
    background: $black;

    a {
      color: $white;
    }
  }
}
