.phase-banner {
  padding-top: $base-spacing-unit-small;
  padding-bottom: $base-spacing-unit-small;
  .badge {
    margin-right: $base-spacing-unit-small;
  }
}

@media print {
  .phase-banner  {
    display: none;
  }
}
