.pds-profcard {
    &-picture {
    float: left;
    margin: 0 $base-spacing-unit 0 0;
    padding: 0;
    height: auto;
      img {
        width: auto;
      }
    }
    &-detail {
        float: left;
        text-align: left;
    }
}
