- person_type = (people.current_mp? || people.former_mp?) ? "member" : "lord"

%li
  = render partial: "pugin/people/list/#{person_type}/#{person_type}", locals: { "#{person_type}": local_assigns.fetch(:people, []), as: person_type }
