%h2= link_to(constituency.name, constituency_path(constituency.graph_id))
- if constituency.members.empty?
  %p= I18n.t('pugin.constituencies.list.current.vacant').capitalize
- else
  %p= constituency.members.first.display_name
